<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/main.css" />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet"
        />
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <title>PORTFOLIO</title>
    </head>
    <body>
        <div class="frame">
            <div class="main_frame">
                <div class="left_frame">
                    <div class="left_1">
                        <div class="left_1_logo">
                            <img
                                src="/images/profile.png"
                                width="150px"
                                height="150px"
                                alt=""
                            />
                        </div>
                        <div class="left_1_name"><%=user.name%></div>
                        <div class="left_1_profession">
                            <%=user.profession%>
                        </div>
                        <div class="left_1_icons">
                            <a href="" class="link_href">
                                <div class="icon">
                                    <img
                                        src="icon/Facebook.png"
                                        alt=""
                                        class="icon-1"
                                    />
                                </div>
                            </a>
                            <a href="" class="link_href">
                                <div class="icon">
                                    <img
                                        src="icon/Instagram.png"
                                        alt=""
                                        class="icon-1"
                                    />
                                </div>
                            </a>
                            <a href="" class="link_href">
                                <div class="icon">
                                    <img
                                        src="icon/Twitter.png"
                                        alt=""
                                        class="icon-1"
                                    />
                                </div>
                            </a>
                            <a href="" class="link_href">
                                <div class="icon">
                                    <img
                                        src="icon/Linkeding.png"
                                        alt=""
                                        class="icon-1"
                                    />
                                </div>
                            </a>
                            <a href="" class="link_href">
                                <div class="icon">
                                    <img
                                        src="icon/Youtube.png"
                                        alt=""
                                        class="icon-1"
                                    />
                                </div>
                            </a>
                            <a href="" class="link_href">
                                <div class="icon">
                                    <img
                                        src="icon/Dribbble.png"
                                        alt=""
                                        class="icon-1"
                                    />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="marginer"></div>
                    <div class="left_2">
                        <div class="left_2_age">
                            <div class="age-1">Age:</div>
                            <div class="age-2"><%=user.age%></div>
                        </div>
                        <div class="left_2_residence">
                            <div class="residence-1">Residence:</div>
                            <div class="residence-2"><%=user.residence%></div>
                        </div>
                        <div class="left_2_freelance">
                            <div class="freelance-1">Freelance:</div>
                            <div class="freelance-2"><%=user.work_place%></div>
                        </div>
                        <div class="left_2_address">
                            <div class="address-1">Address:</div>
                            <div class="address-2"><%=user.address%></div>
                        </div>
                    </div>
                    <div class="marginer"></div>
                    <div class="left_3">
                        <div class="languages">
                            <h3>Languages</h3>

                            <div class="progress-item">
                                <label>Uzbek</label>
                                <span>100%</span>
                                <div class="bar">
                                    <div class="fill" style="width: 100%"></div>
                                </div>
                            </div>
                            <div class="progress-item">
                                <label>English</label>
                                <span>80%</span>
                                <div class="bar">
                                    <div class="fill" style="width: 80%"></div>
                                </div>
                            </div>
                            <div class="progress-item">
                                <label>Korean</label>
                                <span>60%</span>
                                <div class="bar">
                                    <div class="fill" style="width: 60%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="marginer"></div>
                    <div class="left_4">
                        <div class="skills">
                            <h3>Skills</h3>

                            <div class="progress-item">
                                <label>HTML</label>
                                <span>90%</span>
                                <div class="bar">
                                    <div class="fill" style="width: 90%"></div>
                                </div>
                            </div>
                            <div class="progress-item">
                                <label>CSS</label>
                                <span>80%</span>
                                <div class="bar">
                                    <div class="fill" style="width: 80%"></div>
                                </div>
                            </div>
                            <div class="progress-item">
                                <label>JS</label>
                                <span>60%</span>
                                <div class="bar">
                                    <div class="fill" style="width: 60%"></div>
                                </div>
                            </div>
                            <div class="progress-item">
                                <label>PHP</label>
                                <span>75%</span>
                                <div class="bar">
                                    <div class="fill" style="width: 75%"></div>
                                </div>
                            </div>
                            <div class="progress-item">
                                <label>WordPress</label>
                                <span>85%</span>
                                <div class="bar">
                                    <div class="fill" style="width: 85%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="marginer"></div>
                    <div class="left_5">
                        <div class="extra_skills">
                            <div class="extra_skill_title">Extra Skills</div>
                            <br />
                            <div class="skill">
                                <img src="/icon/Icons.svg" alt="" />
                                <div class="extra__name">
                                    Bootstrap, Materialize
                                </div>
                            </div>
                            <div class="skill">
                                <img src="/icon/Icons.svg" alt="" />
                                <div class="extra__name">
                                    div.Stylus, Sass, Less
                                </div>
                            </div>
                            <div class="skill">
                                <img src="/icon/Icons.svg" alt="" />
                                <div class="extra__name">
                                    Gulp, Webpack, Grunt
                                </div>
                            </div>
                            <div class="skill">
                                <img src="/icon/Icons.svg" alt="" />
                                <div class="extra__name">GIT Knowledge</div>
                            </div>
                        </div>
                    </div>
                    <div class="marginer"></div>
                </div>
                <div class="midd_frame">
                    <div class="midd_top">
                        <div class="midd_top_left">
                            <div class="midd_top_left_title">
                                Doctor neurologists in OHSU Hospital
                            </div>
                            <div class="midd_top_left_descr">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Et, volutpat feugiat placerat
                                lobortis. Natoque rutrum semper sed suspendisse
                                nunc lectus.
                            </div>

                            <a href="" class="btn_hire_me"
                                ><div class="class_hire_me">
                                    HIRE ME
                                    <img src="icon/Vector.png" alt="" /></div
                            ></a>
                        </div>
                        <div class="midd_top_right">
                            <div class="image">
                                <img
                                    src="/images/Profilee.png"
                                    alt=""
                                    srcset=""
                                />
                            </div>
                        </div>
                    </div>
                    <div class="midd_cen">
                        <div class="my_services">my services</div>
                        <div class="my_services_descr">
                            Amet minim mollit non deserunt ullamco est sit
                            aliqua dolor do amet sint. Velit officia consequat
                            duis enim velit mollit. lorem ipsum
                        </div>
                    </div>
                    <div class="midd_bot">
                        <div class="technologies">
                            <div class="technology">
                                <div class="technology-icon">
                                    <img
                                        src="/icon/coding.svg"
                                        alt=""
                                        srcset=""
                                    />
                                </div>
                                <div class="technology-title">
                                    web development
                                </div>
                                <div class="technology-p">blog, e-commerce</div>
                            </div>
                            <div class="technology">
                                <div class="technology-icon">
                                    <img
                                        src="/icon/illustration.svg"
                                        alt=""
                                        srcset=""
                                    />
                                </div>
                                <div class="technology-title">uI/uX design</div>
                                <div class="technology-p">
                                    Mobile app, website design
                                </div>
                            </div>
                            <div class="technology">
                                <div class="technology-icon">
                                    <img
                                        src="/icon/Microphone.svg"
                                        alt=""
                                        srcset=""
                                    />
                                </div>
                                <div class="technology-title">sound design</div>
                                <div class="technology-p">
                                    Voice Over, Beat Making
                                </div>
                            </div>
                            <div class="technology">
                                <div class="technology-icon">
                                    <img
                                        src="/icon/game-development.svg"
                                        alt=""
                                        srcset=""
                                    />
                                </div>
                                <div class="technology-title">game design</div>
                                <div class="technology-p">
                                    Character Design, Props & Objects
                                </div>
                            </div>
                            <div class="technology">
                                <div class="technology-icon">
                                    <img
                                        src="/icon/Photographer.svg"
                                        alt=""
                                        srcset=""
                                    />
                                </div>
                                <div class="technology-title">photography</div>
                                <div class="technology-p">
                                    portrait, product photography
                                </div>
                            </div>
                            <div class="technology">
                                <div class="technology-title">advertising</div>
                                <div class="technology-p">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Vitae nulla diam in ac
                                    dictum a urna viverra morbi.
                                </div>
                                <div>
                                    <a href="" class="my_link">ORDER NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right_frame">
                    <div class="setting_mode">
                        <img src="/icon/Contrast.svg" alt="..." />
                    </div>
                    <div class="btn_menu bg-orange">
                        <img src="/icon/Home.svg" alt="..." />
                    </div>
                    <div class="btn_menu">
                        <img src="/icon/file-code.svg" alt="..." />
                    </div>
                    <div class="btn_menu">
                        <img src="/icon/cv.svg" alt="..." />
                    </div>
                    <div class="btn_menu">
                        <img src="/icon/Vector.svg" alt="..." />
                    </div>
                    <div class="btn_menu">
                        <img src="/icon/Blog.svg" alt="..." />
                    </div>

                    <div class="btn_menu">
                        <img src="/icon/Contact.svg" alt="..." />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
